body {
    background-color: rgb(0, 0, 0);
  }
  
  h1 {
    text-align: center;
    color: white;
    margin-top: 50px;
  }
  
  .container {
    background-color: white;
    padding: 20px;
    width: 320px;              /* modern calculator width */
    border-radius: 24px;
    margin: 80px auto;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.6);
  }
  
  
  
  /* Calculator wrapper */
  .calculator {
    display: flex;
    flex-direction: column;
    gap: 14px;
  }
  
  /* Rows */
  .row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
  }
  
  /* Screen row */
  .screen-row {
    grid-template-columns: 3fr 1fr;
    gap: 12px;
  }
  
  /* Screen */
  .screen {
    height: 52px;
    width: 200px;
    font-size: 1.2rem;
    padding: 12px 16px;
    border-radius: 18px;
  }
  
  input[type='button'] {
    height: 48px;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 18px;
    border: 2px solid black;
  }
  
  /* Button types */
  .operator {
    background-color: #ff86e5;
    font-weight: 600;
  } 
  
  .number {
    background-color: #ffa8f3;
    color: black;
    border: solid black 2px;
    height: 40px;
  }
  
  .decimal {
    background-color: #eca2ff;
    color: black;
    border: solid black 2px;
    height: 40px;
  }
  
  .clear {
    background-color: #ff8eb9;
    color: black;
    border: solid black 2px;
    height: 5000%;
    width: 70px;
  }
  
  .equal {
    background-color: #ffc1fc;
    font-weight: 700;
  }